{% extends "base.html" %}
{% block content %}
<table class="table table-hover table-striped tabler-bordered">
	<tr>
		<th>N&uacute;mero</th>
		<th>Nombre</th>
		<th>Autor</th>
		<th>Correo del Autor</th>
		<th>Fecha de publicaci&oacute;n</th>
		<th>Precio</th>
	</tr>
	{% for obj in obj_list %}
	<tr>
		<td>
		{{ obj.id }}
		</td>
		<td>
		{{ obj.name }}
		</td>
		<td>
		{{ obj.author }}
		</td>
		<td>
		{{ obj.author_email }}
		</td>
		<td>
		{{ obj.published }}
		</td>
		<td>
		${{ obj.price }}
		</td>
	</tr>
	{% endfor %}
</table>
<a href="{% url 'export' 'xls' %}" class="btn btn-success">Exportar XLS</a>
<a href="{% url 'export' 'csv' %}" class="btn btn-success">Exportar CSV</a>
| 
<a href="{% url 'import' 'xls' %}" class="btn btn-success">Importar XLS</a>
<a href="{% url 'import' 'csv' %}" class="btn btn-success">Importar CSV</a>
{% endblock %}